<br/>
<br/>
<html>
    <div class="form-container">
        <h1 class="form-title">Crear nuevo jugador para la tabla de goleadores</h1>
        <form [formGroup]="datosJugador" class="form">
          <div class="form-group">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" id="nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido" class="form-control">
            <small *ngIf="nombreNoValido" class="form-error">El nombre tiene que tener mínimo 5 letras y como máximo 40.
              Este campo tampoco admite números ni carácteres raros.
            </small>
          </div>
    
          <div class="form-group">
            <label for="equipo" class="form-label">Equipo:</label>
            <input type="text" id="equipo" formControlName="equipo" [class.is-invalid]="equipoNoValido" class="form-control">
            <small *ngIf="equipoNoValido" class="form-error">El nombre del equipo tiene que tener 5 letras y 40 como máximo.
              Este campo tampoco admite números ni carácteres raros.
            </small>
          </div>
    
          <div class="form-group">
            <label for="nacionalidad" class="form-label">País:</label>
            <input type="text" id="nacionalidad" formControlName="nacionalidad" [class.is-invalid]="nacionalidadNoValido" class="form-control">
            <small *ngIf="nacionalidadNoValido" class="form-error">El nombre del país tiene que tener 5 letras y 40 como máximo.
              Este campo tampoco admite números ni carácteres raros.
            </small>
          </div>
    
          <div class="form-group">
            <label for="edad" class="form-label">Edad:</label>
            <input type="number" id="edad" formControlName="edad" [class.is-invalid]="edadNoValido" class="form-control">
            <small *ngIf="edadNoValido" class="form-error">El campo edad no puede estar vacío y como mínimo tiene que tener 2 números [15..60]</small>
          </div>
    
          <div class="form-group">
            <label for="gol" class="form-label">Goles:</label>
            <input type="number" id="gol" formControlName="gol" [class.is-invalid]="golNoValido" class="form-control">
            <small *ngIf="golNoValido" class="form-error">El campo goles no puede estar vacío y tiene que tener cómo mínimo 1 gol y máximo 100 goles</small>
          </div>
    
          <div class="form-group">
            <button class="form-button" (click)="guardar()">Guardar</button>
          </div>
    
          <div>
            <input type="button" class="form-button" (click)="volver()" name="Volver" value="Volver">
          </div>
        </form>
      </div>
    </html>