<html>
  <br/>
<h1 class="h1" style="text-align: center;">Nuevo equipo</h1>

<div class="container" >
    <form [formGroup]="datosEquipo" class="form-group container w-50 mt-3" >
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control"  formControlName="nombre" [class.is-invalid]="nombreNoValido" placeholder="Nombre">
        <small *ngIf="nombreNoValido" class="text-danger">El nombre tiene que tener mínimo 5 letras y como máximo 40.
          Este campo tampoco admite números ni carácteres raros.
        </small>
        
      </div>

      <br/>

      <div class="form-group">
        <label for="img">Url del escudo</label>
        <input type="text" class="form-control"  formControlName="img" [class.is-invalid]="imgNoValido" placeholder="Url">
        <small  *ngIf="imgNoValido" class="text-danger">La url del escudo tiene que tener mínimo 5 letras y 70 como máximo.
         
        </small>
        </div>
        
        <br/>

        <div class="form-group">
          <label for="entrenador">Entrenador</label>
          <input type="text" class="form-control"  formControlName="entrenador" [class.is-invalid]="entrenadorNoValido" placeholder="Entrenador">
          <small  *ngIf="entrenadorNoValido" class="text-danger">El nombre del entrenador tiene que tener mínimo 5 letras y como máximo 40.
            Este campo tampoco admite números ni carácteres raros.
          </small>
          </div>

            <br/>

            <div class="form-group">
              <label for="estadio">Estadio</label>
              <input type="text" class="form-control"  formControlName="estadio" [class.is-invalid]="estadioNoValido" placeholder="Estadio">
              <small *ngIf="estadioNoValido"class="text-danger">El nombre del estadio tiene que tener mínimo 5 letras y como máximo 40.
                Este campo tampoco admite números ni carácteres raros.
              </small>
              </div>

              <br/>

                <div class="form-group">
                  <label for="anio">Año que se funda el club</label>
                  <input type="number" class="form-control"  formControlName="anio" [class.is-invalid]="anioNoValido" placeholder="Año">
                  <small  *ngIf="anioNoValido" class="text-danger">El año que se funda el club tiene que tener mínimo 4 números y como máximo 6</small>
                  </div>

                  <div class="form-group">
                    <label for="numSocio">Abonados</label>
                    <input type="number" class="form-control"  formControlName="numSocio" [class.is-invalid]="numSocioNoValido" placeholder="Abonados">
                    <small  *ngIf="numSocioNoValido" class="text-danger">El número de abonados tiene que tener mínimo 4 números y como máximo 7</small>
                    </div>
      <br/>
      <div>
        <button
        class="btn btn-primary m-2" 
        (click)="guardar()"
        style="background-color: #000000; color: white; font-size: 16px; border: none; padding: 10px 20px; cursor: pointer; border-radius: 5px;"
        
      >
        Enviar
      </button>
      <input type="button" style="background-color: #000000; color: white; font-size: 16px; border: none; padding: 10px 20px; cursor: pointer; border-radius: 5px;" class="btn btn-primary m-2" onclick="history.back()" name="Volver" value="Volver">
      
      </div>
      <div>
        
     
    
      </div>
      
    </form>
  </div>
  </html>