        <div class="central">
        <br/>
        <p class="parrafo-estilizado">Datos de los equipos de la temporada 2022/2023</p>
        <form (submit)="buscar()">
            <input type="text" [(ngModel)]="nombreBusqueda" name="nombreBusqueda" placeholder="Buscar por nombre">
            <button type="submit">Buscar</button>
          </form>
          <div class="resultados-caja" *ngFor="let equipo of resultadosBusqueda">
             <img
              src="{{equipo.data.img}}"
              alt="barca.png"
              style="height: 5rem"
            />
            <h4>Nombre: {{equipo.data.nombre}}</h4>
            <p>Estadio: {{equipo.data.estadio}}</p>
            <p>Entrenador: {{equipo.data.entrenador}}</p>
            <p>Fundado: {{equipo.data.anio}}</p>
            <p>Número de socios: {{equipo.data.numSocio}}</p>
          </div>          
        <br/>
        <button class="volver" (click)="volver()" >Volver</button>
        <br/>
        <br/>
        <button class="crear" *ngIf="+rol===0"  a routerLink="/equipos/detallEquipo" value="Enviar">Crear nuevo equipo</button>
        <br/>
        <br/>
        <ul *ngFor="let equipo of listaEquipos" class="list-group horizontal-list"  >
            <br>
            <div class="contenedor">
                
                <li  class="list-group-item inline-item"  >
                    <img
                    src="{{equipo.data.img}}"
                    
                    style="height: 10rem"
                  />
                   
                  <br/>
                    Nombre: {{equipo.data.nombre}}
                    <br/> 
                    Estadio: {{equipo.data.estadio}}
                    <br/>
                    Entrenador: {{equipo.data.entrenador}}
                    <br/>
                    Fundado: {{equipo.data.anio}}
                    <br/>
                    Número de socios: {{equipo.data.numSocio}}
                    <br/>
                    <br/>
                    <button class="borrar" *ngIf="+rol===0" (click)="borrarEquipo(equipo.id)" >Borrar equipo</button>
                    <br/>
                    <br/>
                    <button class="editar" *ngIf="+rol===0" (click)="editarEquipo(equipo.id)" >Editar equipo</button>
       
                </li>
            </div>
        </ul>
      </div>


       
  
