.horizontal-list {
    white-space: nowrap;
    overflow-x: auto;
}
.list-group-item {
    display: inline-block;
    vertical-align: top;
    width: 30%; /* Ajustar el ancho de los elementos según tus necesidades */
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.inline-item:last-child {
    margin-right: 0;
}
ul.list-group.horizontal-list {
    background-color: red;
  }
.central {
    background-color: red;
    text-align: center;
  }
.parrafo-estilizado {
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 2px black;
  }

  .resultados-caja {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .resultados-caja h4 {
    margin-bottom: 5px;
  }
  
  .resultados-caja p {
    margin: 0;
    line-height: 1.5;
  }
.editar{
    background-color: #000000; color: white; font-size: 16px; border: none; padding: 5px 10px; cursor: pointer; border-radius: 5px; margin-right: 20px;

}
.borrar{
    background-color: #000000; color: white; font-size: 16px; border: none; padding: 5px 10px; cursor: pointer; border-radius: 5px;
}
.crear{
    background-color: #000000; color: white; font-size: 16px; border: none; padding: 10px 20px; cursor: pointer; border-radius: 5px; margin-right: 10px;
}
.volver{
    background-color: #000000; color: white; font-size: 16px; border: none; padding: 10px 20px; cursor: pointer; border-radius: 5px;
}

  