<body>
	<header>
		<nav class="navegacion">
			<ul class="menu" >
				<li><a href="/equipos">Equipos</a></li>
				<li><a href="/clasificacion">Clasificación</a></li>
				<li>Estadísticas
					<ul class="submenu">
						<li><a href="/goleadores">Máximos Goleadores</a></li>
						<li><a href="/asistencias">Máximos Asistentes</a></li>
						<li><a href="/tarjetas">Tarjetas</a></li>
					</ul>
				</li>
				<li><a href="/usuarios">Administrar usuarios</a></li>
				<li>{{ correo }}</li>
				<li><a (click)="onClick()">Cerrar sesión</a></li>
				<li><a routerLink="/eliminarCuenta">Eliminar mi cuenta</a></li>
				
				
			</ul>
		</nav>
	</header>
	<div class="contenido">
		<h1>Bienvenidos a mi aplicación web de la Liga Santander.</h1>
		<p>Disfruta de la emoción del fútbol español y descubre toda la información sobre equipos, clasificación y estadísticas.</p>
	  </div>
	  <div class="d-flex justify-content-center mt-4">
		<div class="mr-2">
		  <img src="/assets/ligaS.png" alt="ligaS" style="height: 10rem; margin-right: 10px;" />
		</div>
		<div class="ml-2">
		  <img src="/assets/ligaS1.jpg" alt="ligaS1.png" style="height: 10rem; margin-left: 10px;" />
		</div>
	  </div>
	  
</body>
	  
	  


	

	
