  
  <div class="contenedor">
    <br/>
    
  
    <p class="parrafo-estilizado">Clasificación</p>
   
    <button *ngIf="+rol===0" class="back-btn" a routerLink="/clasificacion/crearNuevoEquipo" >Crear nuevo equipo</button>
    <br/>
    <br/>
    <button class="back-btn" (click)="volver()">Volver atrás</button>
    
    <br/>
    <br/>
    <ul *ngFor="let clasificacion of listaClasificacion let i = index" class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="number">{{i+contador}}</span>
        <img class="team-logo" src="{{clasificacion.data.img}}" />
        <span class="team-name">{{clasificacion.data.nombre}}</span>
        <span class="points" title="Puntos" >Pts: {{clasificacion.data.puntos}}</span>
        <span class="played-matches" title="Partidos jugados">PJ: {{clasificacion.data.partidosJugados}}</span>
        <span class="draw-matches" title="Partidos empatados">PE: {{clasificacion.data.partidosEmpatados}}</span>
        <span class="lost-matches" title="Partidos perdidos">PP: {{clasificacion.data.partidosPerdidos}}</span>
        <span class="goals-for" title="Goles a favor">GF: {{clasificacion.data.golesFavor}}</span>
        <span class="goals-against" title="Goles en contra">GC: {{clasificacion.data.golesContra}}</span>
        <button class="editar" *ngIf="+rol===0" (click)="editarClasificado(clasificacion.id)"  >Editar equipo</button>
        <button class="borrar" *ngIf="+rol===0" (click)="borrarClasificado(clasificacion.id)"  >Borrar equipo</button>
      </li>
    </ul>
  </div>
  