<body>
    <p class="parrafo-estilizado">Clasificación</p>
   
    <button *ngIf="+rol===0" class="back-btn" a routerLink="/crearNuevoEquipo" >Crear nuevo equipo</button>
    <br/>
    <br/>
    <button class="back-btn" (click)="volver()">Volver atrás</button>
    
    <br/>
    <br/>
    <ul *ngFor="let clasificacion of listaClasificacion let i = index" class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="number">{{i+contador}}</span>
        <img class="team-logo" src="{{clasificacion.data.img}}" />
        <span class="team-name">{{clasificacion.data.nombre}}</span>
        <span class="points" title="Puntos" >Pts: {{clasificacion.data.puntos}}</span>
        <span class="played-matches" title="Partidos jugados">PJ: {{clasificacion.data.partidosJugados}}</span>
        <span class="draw-matches" title="Partidos empatados">PE: {{clasificacion.data.partidosEmpatados}}</span>
        <span class="lost-matches" title="Partidos perdidos">PP: {{clasificacion.data.partidosPerdidos}}</span>
        <span class="goals-for" title="Goles a favor">GF: {{clasificacion.data.golesFavor}}</span>
        <span class="goals-against" title="Goles en contra">GC: {{clasificacion.data.golesContra}}</span>
        <button *ngIf="+rol===0" (click)="editarClasificado(clasificacion.id)"  style="background-color: #000000; color: white; font-size: 16px; border: none; padding: 5px 10px; cursor: pointer; border-radius: 5px; margin-right: 10px;">Editar equipo</button>
        <button *ngIf="+rol===0" (click)="borrarClasificado(clasificacion.id)"  style="background-color: #000000; color: white; font-size: 16px; border: none; padding: 5px 10px; cursor: pointer; border-radius: 5px; margin-left: 10px;">Borrar equipo</button>
      </li>
    </ul>
  </body>