<br/>
<br/>

<div class="container">
    <h2 class="titulo">Top 20 máximos jugadores con tarjetas 2022/2023</h2>
    <div style="text-align: center;">
        <button class="crear" *ngIf="+rol===0" type="submit" a routerLink="/tarjetas/nuevaTarjeta" value="Enviar">Crear nuevo jugador en la tabla tarjetas</button>
        <button class="volver" (click)="volver()">Volver</button>
    </div>
    <br/>
    <ul *ngFor="let tarjetas of listaTarjetas; let i = index" class="list-group custom-list">
        <li class="list-group-item custom-list-item">
            <div class="nombre">
                <span class="number">{{ i + contador }}</span>
                {{ tarjetas.data.nombre }}
            </div>
            <div class="detalle">
                <span class="etiqueta">Equipo:</span> {{ tarjetas.data.equipo }} |
                <span class="etiqueta">Tarjetas Amarillas:</span> {{ tarjetas.data.tarjetasAmarillas }} |
                <span class="etiqueta">Tarjetas Rojas:</span> {{ tarjetas.data.tarjetasRojas }} |
                <span class="etiqueta">Total Tarjetas:</span> {{ tarjetas.data.totalTarjetas }}
                <div class="botones-container">
                    <button class="editar" *ngIf="+rol===0" (click)="editarTarjeta(tarjetas.id)" >Editar jugador</button>
                    <button class="borrar" *ngIf="+rol===0" (click)="borrarTarjeta(tarjetas.id)" >Borrar jugador</button>
                </div>
            </div>
        </li>
    </ul>
</div>
