.container {
    width: 80%;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.custom-list {
    padding: 0;
    list-style-type: none;
}

.custom-list-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}

.nombre {
    font-size: 18px;
    font-weight: bold;
}

.detalle {
    font-size: 14px;
    margin-top: 5px;
}

.etiqueta {
    font-weight: bold;
    margin-right: 5px;
}

.botones-container {
    display: flex;
    align-items: center;
}
.editar{
    background-color: #000000; color: white; font-size: 16px; border: none; padding: 5px 10px; cursor: pointer; border-radius: 5px; margin-right: 20px;

}
.borrar{
    background-color: #000000; color: white; font-size: 16px; border: none; padding: 5px 10px; cursor: pointer; border-radius: 5px;
}
.crear{
    background-color: #000000; color: white; font-size: 16px; border: none; padding: 10px 20px; cursor: pointer; border-radius: 5px; margin-right: 10px;
}
.volver{
    background-color: #000000; color: white; font-size: 16px; border: none; padding: 10px 20px; cursor: pointer; border-radius: 5px;
}



