<br/>
<br/>

<div class="container">
    <h2 class="titulo">Top 20 máximos asistentes de la temporada 2022/2023</h2>
    <div style="text-align: center;">
        <button class="crear" *ngIf="+rol===0" type="submit"  a routerLink="/asistencias/nuevoAsistente" value="Enviar">Crear nuevo asistente</button>
        <button class="volver" (click)="volver()"  >Volver</button>
    </div>
    <br/>
    <ul *ngFor="let asistentes of listaAsistentes; let i = index" class="list-group custom-list">
        <li class="list-group-item custom-list-item">
            <div class="nombre">
                <span class="number">{{ i + contador }}</span>
                {{ asistentes.data.nombre }}
            </div>
            <div class="detalle">
                <span class="etiqueta">Equipo:</span> {{ asistentes.data.equipo }} |
                <span class="etiqueta">País:</span> {{ asistentes.data.nacionalidad }} |
                <span class="etiqueta">Edad:</span> {{ asistentes.data.edad }} |
                <span class="etiqueta">Asistencias:</span> {{ asistentes.data.asistencia }}
                <div class="botones-container">
                    <button *ngIf="+rol===0" (click)="editarAsistente(asistentes.id)"  >Editar jugador</button>
                    <button *ngIf="+rol===0" (click)="borrarAsistente(asistentes.id)" >Borrar jugador</button>
                </div>
            </div>
        </li>
    </ul>
</div>
