<br/>
<br/>

    <div *ngIf="+rol===0" class="form-container">
        <h1 class="form-title">Editar nuevo jugador para la tabla de goleadores</h1>
        <form [formGroup]="datosJugador" class="form">
          <div class="form-group">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" id="nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido" class="form-control">
            <small *ngIf="nombreNoValido" class="form-error">El nombre tiene que tener mínimo 5 letras y como máximo 40.
              Este campo tampoco admite números ni carácteres raros.
            </small>
          </div>
    
          <div class="form-group">
            <label for="equipo" class="form-label">Equipo:</label>
            <select id="equipo" formControlName="equipo" [class.is-invalid]="equipoNoValido" class="form-control">
              <option value="">Seleccionar equipo</option>
              <option value="Real Club Celta de Vigo">Real Club Celta de Vigo</option>
              <option value="Sevilla Fútbol Club">Sevilla Fútbol Club</option>
              <option value="Valencia Club de Fútbol">Valencia Club de Fútbol</option>
              <option value="Villarreal Club de Fútbol">Villarreal Club de Fútbol</option>
              <option value="Real Sociedad de Fútbol">Real Sociedad de Fútbol</option>
              <option value="Futbol Club Barcelona">Futbol Club Barcelona</option>
              <option value="Real Betis Balompié">Real Betis Balompié</option>
              <option value="Mallorca Club de Fútbol">Mallorca Club de Fútbol</option>
              <option value="Real Valladolid Club de Fútbol">Real Valladolid Club de Fútbol</option>
              <option value="Club Atlético de Madrid">Club Atlético de Madrid</option>
              <option value="Cádiz Club de Fútbol">Cádiz Club de Fútbol</option>
              <option value="Girona Club de Fútbol">Girona Club de Fútbol</option>
              <option value="RCD Espanyol de Barcelona">RCD Espanyol de Barcelona</option>
              <option value="Real Madrid Club de Fútbol">Real Madrid Club de Fútbol</option>
              <option value="Osasuna Club de Fútbol">Osasuna Club de Fútbol</option>
              <option value="Getafe Club de Fútbol">Getafe Club de Fútbol</option>
              <option value="Athletic Club">Athletic Club</option>
              <option value="Elche Club de Fútbol">Elche Club de Fútbol</option>
              <option value="Unión Deportiva Almería">Unión Deportiva Almería</option>
              <option value="Rayo Vallecano de Madrid">Rayo Vallecano de Madrid</option>
            </select>
            <small *ngIf="equipoNoValido" class="form-error">El nombre del equipo tiene que tener 5 letras y 40 como máximo.
              Este campo tampoco admite números ni carácteres raros.
            </small>
          </div>
    
          <div class="form-group">
            <label for="nacionalidad" class="form-label">País:</label>
            <input type="text" id="nacionalidad" formControlName="nacionalidad" [class.is-invalid]="nacionalidadNoValido" class="form-control">
            <small *ngIf="nacionalidadNoValido" class="form-error">El nombre del país tiene que tener 5 letras y 40 como máximo.
              Este campo tampoco admite números ni carácteres raros.
            </small>
          </div>
    
          <div class="form-group">
            <label for="edad" class="form-label">Edad:</label>
            <input type="number" id="edad" formControlName="edad" [class.is-invalid]="edadNoValido" class="form-control">
            <small *ngIf="edadNoValido" class="form-error">El campo edad no puede estar vacío y como mínimo tiene que tener 2 números [16..60]</small>
          </div>
    
          <div class="form-group">
            <label for="gol" class="form-label">Goles:</label>
            <input type="number" id="gol" formControlName="gol" [class.is-invalid]="golNoValido" class="form-control">
            <small *ngIf="golNoValido" class="form-error">El campo goles no puede estar vacío y tiene que tener cómo mínimo 1 gol y máximo 100 goles</small>
          </div>
          <div class="form-group">
            <button class="btn btn-primary m-2 black-btn" (click)="actualizarEstado()">Actualizar estado</button>
          </div>
          
          <div>
            <input type="button" class="form-button" (click)="volver()" name="Volver" value="Volver">
          </div>
        </form>
      </div>

      
<div *ngIf="+rol == 1" class="container">
  <div class="alert alert-danger">
    <p>Usted no tiene permisos para entrar en esta funcionalidad. Disculpe las molestias.</p>
    <button class="btn btn-primary" a routerLink="/main">Volver</button>
  </div>
</div>
   